<ion-header>
  <ion-toolbar>
    <ion-title>listagem</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<form [formGroup]="produtoForm" (submit)="enviar()">
  <ion-item lines="none">
    <ion-label position="floating">Nome:</ion-label>
    <ion-input formControlName="nome"></ion-input>
    <ion-label position="floating">Quantidade:</ion-label>
    <ion-input formControlName="quantidade"></ion-input>
    <ion-label position="floating">Valor:</ion-label>
    <ion-input formControlName="valor"></ion-input>
  </ion-item>
  <ion-button type="submit" shape="round" fill="outline" color="dark" routerLink="/listagem1/">Adicionar</ion-button>

</form>
</ion-content>
